@import 'reset';
@import 'variables';
@import 'mixins';

// BASE STYLES
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: black;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4 {
    font-family: $headline-font;
    color: $accent-color;
}

a {
    text-decoration: none;
    color: $text-color;
    transition: $transition-smooth;

    &:hover {
        color: $accent-color;
    }
}

// LAYOUT HELPERS
.container {
    max-width: $max-width;
    padding: 0 $container-padding;
    margin: 0 auto;
}

main {
    flex: 1;
}

.section {
    padding: $gap-large 0;
}

// NAVBAR
nav {
    background-color: $card-bg;
    padding: $gap-medium 0;
    position: sticky;
    top: 0;

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        gap: $gap-large;
        align-items: center;

        li {
            a {
                font-weight: 500;
                font-family: $main-font;

                .header-logo {
                    width: 100px;
                    height: 30px;
                    margin-left: 20px;
                    align-items: center;

                    &:hover {
                        color: $secondary-accent;
                    }
                }
            }

        }
    }
}

// banner
.banner {
    position: relative;
    height: 70vh;
    background: url('../../images/IMG_1431.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    @media (max-width: 768px) {
        height: 40vh;
        object-fit: cover;
        object-position: center;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .banner-content {
        position: relative;
        z-index: 2;
        max-width: 800px;
        padding: 2rem;

        h1 {
            font-size: 3rem;
            animation: fadeUp 1.2s ease-out forwards;
            @include header-font;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
                font-size: 2.3rem;
                margin-bottom: 0.1rem;
            }
        }

        p {
            font-size: 1.25rem;
            font-family: $main-font;
            color: lighten($text-color, 20%);
            margin-bottom: 2rem;
            animation: fadeUp 1.5s ease-out forwards;

            @media (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }
}

// text-intro
.intro {
    margin: 3rem;

    .container {
        text-align: center;

        h2 {
            font-size: 2rem;
            font-family: $headline-font;
            margin-top: 2.5rem;
            @include header-font;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
                font-size: 1.6rem;
                margin-top: 1rem;
            }
            @media (max-width: 480px) {
                font-size: 1.2rem;
                margin-top: 0.8rem;
            }
        }

        .text-intro-p {
            font-size: 1.25rem;
            font-family: $main-font;
            color: lighten($text-color, 20%);
            margin-bottom: 2rem;
            text-align: center;
            line-height: 1.2;

            @media (max-width: 768px) {
                font-size: 1rem;
                margin-top: 1rem;
            }
            @media (max-width: 480px) {
                font-size: 0.8rem;
                margin-top: 4px;
                padding: 0 1rem;
            }
        }
    }
}

// cta-buttons
.cta-buttons {
    .buttons-content {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: 3rem;

        .button {
            background: $accent-color;
            color: white;
            border-radius: $border-radius;
            padding: 0.75rem 1.5rem;
            font-weight: bold;
            transition: $transition-smooth;
            font-family: $main-font;

            @media (max-width: 480px) {
                width: 100%;
                display: flex;
                max-width: 300px;
                font-size: 0.9rem;
                text-align: center;
                justify-content: center;
                margin: 3rem;
            }


            &:hover {
                background: $secondary-accent;
                transform: scale(1.05);
                color: $accent-color;
            }
        }
    }
}

// quote
.lyric {
    background: $card-bg;
    color: $text-color;
    text-align: center;
    padding: 5rem 2rem;
    font-style: italic;
    opacity: 0;
    animation: fadeInQuote 2s ease-in-out 0.5s forwards;

    blockquote {
        max-width: 700px;
        margin: 0 auto;

        .quote-text {
            display: flex;
            font-size: 1.5rem;
            font-family: $main-font;
            margin-bottom: 1rem;
            line-height: 1.6;
            text-align-last: center;
            vertical-align: center;

            @media (max-width: 500px) {
                font-size: 1rem;
            }
        }

        .quote-2text {
            font-size: 1rem;
            color: rgb(166, 166, 166);
            font-style: normal;
            font-family: $main-font;

            @media (max-width: 500px) {
                font-size: 0.6rem;
                margin-top: 4px;
            }
        }
    }
}

// music embed
.music-player {
    color: $text-color;
    padding: 1.5rem 1rem;
    text-align: center;
    margin-top: 1rem;

    h2 {
        font-family: $headline-font;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $accent-color;
        text-align: center;
    }

    .song-caption {
        font-size: 1.1rem;
        font-style: italic;
        margin-bottom: 1.5rem;
        color: lighten($text-color, 10%);
        text-align: center;
        font-family: $main-font;
    }

    img {
        display: inline-block;
        align-items: center;
        margin-left: 85px;

        .music-player img {
            margin-left: 0;
            width: 90%;
            height: auto;
        }
    }
}

// band photo
.band-photo-container {
  text-align: center;
  margin: 2rem auto;
  @media (max-width: 768px) {
    margin: 2rem;
  }


  h2 {
    font-family: $headline-font;
    font-size: 2rem;
    color: $accent-color;
    margin-bottom: 1rem;
    letter-spacing: 0.04em;
  }

  .band-photo {
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    @media (max-width: 480px) {
    display: none;
  }
  }

  .insta-button {
    margin: 0.7rem 0rem 2.5rem 0rem;
    display: inline-block;
    background-color: $accent-color;
    color: white;
    padding: 0.6rem 1.4rem;
    border-radius: 8px;
    font-family: $main-font;
    font-size: 1rem;
    transition: 0.3s ease;
    text-decoration: none;

    i {
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: $secondary-accent;
      color: $accent-color;
    }
  }
}


// Animation
@keyframes fadeInQuote {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// FOOTER
.footer {
    background: $card-bg;
    color: $text-color;
    padding: $gap-large;
    font-size: 0.9rem;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 5rem;
    }

    h3 {
        color: $accent-color;
        font-family: $main-font;
        margin-bottom: $gap-small;
        font-weight: 700;
    }

    p,
    li,
    a {
        color: $text-color;
        font-family: $main-font;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: $gap-small;

            a {
                transition: color $transition-fast;

                &:hover {
                    color: $secondary-accent;
                }
            }
        }
    }

    .social-icons {
        a {
            margin-right: $gap-small;
            font-size: 2rem;
            transition: transform $transition-smooth;

            &:hover {
                transform: scale(1.2);
                color: $accent-color;
            }
        }
    }

    .button {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        background-color: $accent-color;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 115px;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 5px;

        &:hover {
            background-color: $secondary-accent;
            transform: scale(1.05);
            color: $accent-color;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(255, 0, 85, 0.3); // Optional focus ring
        }
    }


    .footer-bottom {
        text-align: center;
        margin-top: 4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: $gap-small;
    }

    .TBC-logo {
        width: 50px;
        height: 50px;
        margin-left: 1rem;
    }

    input {
        width: 115px;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 5px;

        @media (max-width: 480px) {
            width: 100%;
            max-width: 300px;
        }
    }
}

h1,
h2 {
    @include header-font
}




@media (max-width: 768px) {
  body {
    font-size: 80%;
  }

  .container {
    padding: 0 3rem;
  }

  nav ul {
    flex-direction: row;
    gap: 1rem;
  }

  .banner {
    height: 40vh;
    .banner-content {
        h1 {
      font-size: 2.3rem;
    }
    p {
      font-size: 1rem;
    }
    }
  }

  .intro h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .text-intro-p {
    font-size: 1rem;
  }

  .cta-buttons .button {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  .lyric blockquote .quote-text {
    font-size: 1.2rem;
  }

  .music-player h2 {
    font-size: 1.5rem;
  }

  .music-player .song-caption {
    font-size: 1rem;
  }

  .band-photo-container h2 {
    font-size: 1.6rem;
  }

  .footer {
    padding: 2rem 1rem;
  }

  .footer .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}


@media (max-width: 480px) {
  body {
    font-size: 85%;
  }

  .container {
    padding: 0 0.8rem;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .banner {
    height: 35vh;
    justify-items: stretch;
    max-width: 100%; 
    width: 100%;

    .banner-content h1 {
      font-size: 1.8rem;
    }

    .banner-content p {
      font-size: 0.9rem;
    }
  }

  .intro h2 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }

  .text-intro-p {
    font-size: 0.85rem;
    padding: 0 1rem;
  }

  .cta-buttons {
    flex-direction: column;
    align-items: center;


    .button {
      width: 100%;
      max-width: 300px;
      font-size: 0.9rem;
    }
  }

  .lyric blockquote .quote-text {
    font-size: 1rem;
  }

  .lyric blockquote .quote-2text {
    font-size: 0.7rem;
  }

  .music-player h2 {
    font-size: 1.3rem;
  }

  .music-player .song-caption {
    font-size: 0.9rem;
  }

  .band-photo-container .band-photo {
    display: none;
  }

  .band-photo-container h2 {
    font-size: 1.3rem;
  }

  .footer {
    padding: 2rem 1rem;
  }

  .footer .footer-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer .button,
  .footer input {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 4rem 1rem;
    text-align: center;

    .banner-content {
      h1 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .intro {
    padding: 2rem 1rem;
    text-align: center;

    h2 {
      font-size: 1.5rem;
    }

    .text-intro-p {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }

  .cta-buttons {
    .buttons-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button {
        width: 90%;
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  .music-player {
    padding: 2rem 1rem;
    text-align: center;

    h2 {
      font-size: 1.5rem;
    }

    .song-caption {
      font-size: 1rem;
    }

    img {
      width: 100%;
      max-width: 300px;
    }
  }

  .band-photo-container {
    text-align: center;
    padding: 2rem 1rem;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    .insta-button {
      display: inline-block;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin-bottom: 1.5rem;
    }

    .band-photo {
      width: 100%;
      max-width: 350px;
    }
  }

  .lyric {
    padding: 2rem 1rem;

    blockquote {
      .quote-text {
        font-size: 1rem;
        line-height: 1.6rem;
      }

      .quote-2text {
        font-size: 0.9rem;
        margin-top: 1rem;
      }
    }
  }
  .footer {
    padding: 2rem 1rem;

    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
      text-align: center;
      padding: 3rem;
    }

    .footer-links,
    .footer-social {
      width: 100%;
      text-align: center;
      display: block;
    }

    .footer-links ul,
    .footer-links li,
    .footer-links a {
      display: block;
      margin-bottom: 0.4rem;
    }

    .TBC-logo {
      width: 40px;
      height: 40px;
      margin-top: 1rem;
    }
  }
}



